<div class="wrapper sign_up">
  <h2>新規登録</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: 'from-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'from-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :thumbnail %><br />
      <%= f.file_field :thumbnail %>
      <%= f.hidden_field :thumbnail_cache %>
    </div>
    
    <div class="form-group">
      <%= f.check_box :agreement %>
      規約に同意します
    </div>
    
    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
