<div class="wrapper timeline_wrapper">
    
    <div class="input">
        <%= form_for @input_message do |f| %>
            <div class="form-group">
                <%= f.label :message %><br/>
                    <% if @input_message.persisted? %>
                        編集中
                    <% elsif @reply_timeline %>
                        <%= @reply_timeline.user.name %>の｢<%= truncate(@reply_timeline.message, length: 7) %>｣に返信
                    <% end %>
                    <br/>
                    
                <%= f.text_area :message, class: 'form-control', row: 3 %>
            </div>
            <div class="actions clearfix">
                <div class="alert">
                    <% if flash[:alert] %>
                        <% flash[:alert].each do |message| %>
                            <p class="alert"><%= message %></p>
                        <% end %>
                    <% end %>
                </div>
                
                <div class="post">
                    <% if @input_message.persisted? || @reply_timeline %>
                        <%= link_to root_path do %>
                            <%= button_tag 'Cancel', class: 'btn btn-default' %>
                        <% end %>
                    <% end %>
                    
                    <%= f.submit 'Post', class: 'btn btn-primary' %>
                </div>
            </div>
            <%= f.hidden_field :reply_id, value: @reply_timeline.id if @reply_timeline %>
        <% end %>
    </div>
    <div class="user_filter">
        <%= form_tag filter_by_user_timelines_path do |f| %>
            <div class="form-group">
                <label>ユーザフィルター</label><br/>
                <%= select_tag :filter_user_id, options_for_select(@users.map { |m| [m.name, m.id] }, params[:filter_user_id]), prompt: 'フィルターなし', class: 'form-control' %>
            </div>
            <div class="actions">
                <%= submit_tag 'Apply', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
    <div class="timeline">
        <% @timeline.each do |t| %>
           
            <%= render 'timelines/timeline', t: t %>
        <%  end %>
    </div>
</div>