<div class="wrapper timeline_wrapper">
    
    <div class="input">
        <%= form_for @input_message do |f| %>
            <div class="form-group">
                <%= f.label :message %><br/>
                <%= f.text_area :message, class: 'form-control', rows: 3 %>
            </div>
            <div class="actions clearfix">
                <div class="alert">
                    <% if flash[:alert] %>
                        <% flash[:alert].each do |message| %>
                            <p class="alert"><%= message %></p>
                        <% end %>
                    <% end %>
                </div>
                
                <div class="post">
                    <%= f.submit 'Post', class: 'btn btn-primary' %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="timeline">
        <% @timeline.each do |t| %>
            <div class="per <%= 'mine' if t.user.id == current_user.id %>">
                <p class="icon">
                    <% if t.user.thumbnail? %>
                        <%= image_tag t.user.thumbnail.url %>
                    <% else %>
                        NO IMAGE
                    <% end %>
                </p>
                <%= simple_format t.message, class: 'message' %>
                
            </div>
        <%  end %>
    </div>
</div>