<div class="wrapper timeline_wrapper">
    
    <div class="input">
        <%= form_for @input_message do |f| %>
            <div class="form-group">
                <%= f.label :message %><br/>
                    <% if @input_message.persisted? %>
                        編集中
                    <% end %>
                    <br/>
                    
                <%= f.text_area :message, class: 'form-control', row: 3 %>
            </div>
            <div class="actions clearfix">
                <div class="alert">
                    <% if flash[:alert] %>
                        <% flash[:alert].each do |message| %>
                            <p class="alert"><%= message %></p>
                        <% end %>
                    <% end %>
                </div>
                
                <div class="post">
                    <% if @input_message.persisted? %>
                        <%= link_to root_path do %>
                            <%= button_tag 'Cancel', class: 'btn btn-default' %>
                        <% end %>
                    <% end %>
                    
                    <%= f.submit 'Post', class: 'btn btn-primary' %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="timeline">
        <% @timeline.each do |t| %>
            <div class="per <%= 'mine' if t.user.id == current_user.id %>">
                <p class="icon">
                    <% if t.user.thumbnail? %>
                        <%= image_tag t.user.thumbnail.url %>
                    <% else %>
                        NO IMAGE
                    <% end %>
                </p>
                <%= simple_format t.message, class: 'message' %>
                <% if mypost?(t) %>
                    <%= link_to root_path(id: t.id, message: t.message) do %>
                        <%= button_tag 'Edit', class: 'btn btn-info' %>
                    <% end %>
                <% end %>
                
            </div>
        <%  end %>
    </div>
</div>